main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f4f8;
  padding-top: calc(env(safe-area-inset-top) + 20px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 20px);

  button {
    width: 100%;
    flex: 1;
    border: 0;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f0f4f8;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &.news {
      color: #198754;
      border: 1px solid #198754;
    }
    &.weather {
      color: #0d6efd;
      border: 1px solid #0d6efd;
    }
  }
}